DB_NAME=<db_name>
DB_USER=<db_user>
DB_PASSWORD=<db_password>
DB_PORT=<db_port>

CLIENT_URL=<client_url>
CLIENT_PORT=<client_port>

ADMIN_URL=<admin_url>
ADMIN_PORT=<admin_port>
ADMIN_USERNAME=<admin_username>
ADMIN_PASSWORD_HASH='hashed_password'
