{$CLIENT_URL} {
    encode zstd gzip

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        X-XSS-Protection "1; mode=block"
    }

    reverse_proxy client:{$CLIENT_PORT}
}

{$ADMIN_URL} {
    encode zstd gzip
    
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        X-XSS-Protection "1; mode=block"
    }
    
    basicauth /* {
        {$ADMIN_USERNAME} {$ADMIN_PASSWORD_HASH}
    }
    
    reverse_proxy admin:{$ADMIN_PORT}
}
